* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  text-align: center;
  background-color: #222831;
  height: 100%;
}

.btn-title {
  font-family: "Gugi", cursive;
  font-size: 2rem;
  color: #858585;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
  transition: 0.5s;
}

.btn-title:hover {
  color: white;
}

.btn__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: stretch;
  align-content: stretch;
  height: 100%;
  gap: 3.125rem;
  z-index: 1;
}

.btn {
  border: 0.3125rem solid #393e46;
  width: 25rem;
  height: 25rem;
  border-radius: 10%;
  cursor: pointer;
}

.red {
  background: linear-gradient(225deg, red, #140000);
  transition: 0.5s;
  opacity: 100%;
  border-top-right-radius: 100%;
  justify-self: start;
  align-self: end;
}

.green {
  background: linear-gradient(145deg, green, #001400);
  transition: 0.5s;
  opacity: 100%;
  border-top-left-radius: 100%;
  justify-self: end;
  align-self: end;
}

.blue {
  background: linear-gradient(325deg, #0000e1, #000014);
  transition: 0.5s;
  opacity: 100%;
  justify-self: start;
  align-self: start;
  border-bottom-right-radius: 100%;
}

.yellow {
  background: linear-gradient(45deg, #e1e100, #141200);
  transition: 0.5s;
  opacity: 100%;
  justify-self: end;
  align-self: start;
  border-bottom-left-radius: 100%;
}

.pressed {
  box-shadow: 0 0 1.25rem white;
  filter: brightness(2);
}

.game-start-end {
  opacity: 0.2;
}

.game-over {
  background-color: red;
  opacity: 0.5;
}
